body {
  position: relative;
  background-color: aliceblue;
}

section {
  min-height: 100vh;
  position: relative;
  padding: 0px;
}
/*------------*/
.wrapper {
    margin-right: -15px;
    margin-left: -15px;
    position: relative
}

#evento-img {
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: block;
    content: ""
}

@media only screen and (max-width: 992px) {
    #evento-img {
        height:50vh
    }
}

#map {
    width: 140vw;
    height: 100vh;
    position: relative;
    display: block
}

@media only screen and (max-width: 992px) {
    #map {
        width:100%;
        height: 50vh
    }
}

.map-card {
    position: absolute;
    left: 7.5vh;
    bottom: 25vh;
    width: 75vh;
    height: 55vh;
    font-size: 1.5rem;
    box-shadow: 0 0.1px 6.7px rgba(0,0,0,0.026),0 0.3px 13px rgba(0,0,0,0.037),0 0.7px 20.1px rgba(0,0,0,0.046),0 1.4px 28.8px rgba(0,0,0,0.054),0 2.6px 40.5px rgba(0,0,0,0.063),0 4.8px 58px rgba(0,0,0,0.074),0 10px 98px rgba(0,0,0,0.1)
}


@media all and (orientation: portrait) {
    .map-card {
        left:7.5vw;
        bottom: 5vw;
        width: 75vw;
        height: 75vw
    }
}

@media only screen and (max-width: 992px) {
    .map-card {
        position:relative;
        width: calc(100% - $double-sidebar);
        height: auto;
        left: 6vw;
        top: 0;
        bottom: auto
    }
}

@media only screen and (max-width: 768px) {
    .map-card {
        width:calc(100% - 4rem);
        margin: 0 auto;
        height: auto;
        left: auto;
    }
}

@media only screen and (max-width: 576px) {
    .map-card {
        position:static;
        width: 100%;
        height: auto;
        margin: auto
    }
}

.map-card .card-body {
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.map-card h3 {
    font-size: 3rem
}
/*------------*/
#rsvp-img {
    background-image: url(../images/entorno.jpg);
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    content: ""
}
.rsvp-card {
    bottom: 15vh;
    height: 75vh;
}
#rsvp form {
  width: 100%;
}

@media only screen and (max-width: 576px) {
    .rsvp-card {
      height: 100vh;
    }
}

@media only screen and (max-width: 992px) {
    #rsvp-img {
        height:50vh
    }
}
/*------------*/
.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  padding-top: 25px
}
footer span.fa-heart {
    color: #ff415c;
    font-size: 18px;
    margin: 0 2px;
}
footer .content {
  border-top: 1px solid;
}
footer .to-top-wrapper {
    font-size: 30px;
    display: block;
    cursor: pointer;
    margin: -25px auto 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #E6E9EA;
    background: #fff;
}
